.positioning { border: 1px solid;}
.ye {background-color: yellow;}
.yg {background-color: yellowgreen;}
.red {background-color: red;}

.outer{position: relative;}
#div1 {
    width: 300px;
    height: 300px;
}
#div2 {
    width: 200px;
    height: 200px;
    
    position: absolute;
    top: 50px;
    left: 50px;
}
#div3 {
    width: 100px;
    height: 100px;

    position: absolute;
    top: 100px;
    left: 100px;
}

#fixed-area {
    width: 100px;
    height: 100px;

   /*  position: fixed;  */
}

.outer2 {position: relative;}
.z-test {
    border: 1px solid;
    width: 150px;
    height: 100px;
    position: absolute;
}
#z1 {
    top: 100px;
    left: 100px;
    z-index: 3;
}
#z2 {
    top: 50px;
    left: 50px;
    z-index: 2;
}

.vis-test {
    width: 100px;
    height: 100px;
}

.float-test {
    width: 70px;
    height: 30px;
    border: 1px solid;
    /* float: left; */
    float: right;
}