/* 전체 */
* { margin: 0 auto; }
body { width: 950px; }

/* 헤더 */
header {
    width: 950px;
    height: 120px;
    background-color: cornflowerblue;
    border: 1px solid;
}
h1 {
    color: white;
    text-align: center;
    line-height: 120px;
}

/* 본문 */
section {
    float: left;
    width: 650px;
    height: 500px;
    background-color: honeydew;
}
aside {
    float: right;
    width: 290px;
    height: 500px;
    background-color: darkseagreen;
}

/* footer */
footer {
    clear: both;
    height: 120px;
    background-color: rgb(178, 115, 236);
}