/* 전체 */
body {
    width: 1000px;
    margin: 0 auto;
}

/* header */
header { height: 350px; }
header>#logo {
    float: left;
    height: 23px;
    margin: 10px 0;
}
header>form {
    float: right;
    height: 40px;
    line-height: 40px;
}
header>#titleImg {
    clear: both;
    width: 100%;
    height: 310px;
}

/* nav */
.navi {
    height: 60px;
}
.navi a {
    display: inline-block;
    height: 60px;
    width: 247px;
    text-align: center;
    line-height: 60px;
}

/* 본문 */
section {
    float: left;
    width: 650px;
    margin-left: 10px;
}

/* aside */
aside {
    float: right;
    width: 340px;
}
aside img {
    width: 340px;
    margin-top: 3px;
}

/* footer */
footer {
    clear: both;
    padding : 20px 0 10px 20px;
}